############################
# Maven
############################
target/
!**/src/main/**/target/
!**/src/test/**/target/

############################
# Maven Wrapper (KEEP THESE FILES IN GIT)
############################
# DO NOT ignore:
# mvnw
# mvnw.cmd
# .mvn/wrapper/

############################
# Environment variables
############################
.env

############################
# IDE - IntelliJ
############################
.idea/
*.iws
*.iml
*.ipr

############################
# Eclipse / STS
############################
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# VS Code
############################
.vscode/

############################
# OS / temp files
############################
*~
*.swp
*.bak
*.tmp